SQLALCHEMY_DATABASE_URL=ABC
SERVER_URL=ABC
REALM=ABC
CLIENT_ID=ABC
CLIENT_SECRET=ABC
AUTHORIZATION_URL=ABC
TOKEN_URL=ABC
AIM_APP_HOST=ABC
AIM_APP_PORT=ABC
GEMINI_API_KEY=ABC
GROQ_API_KEY=ABC
COHERE_API_KEY=ABC
POSTGRES_USER=ABC
POSTGRES_DB=ABC
POSTGRES_PASSWORD=ABC
PGADMIN_DEFAULT_EMAIL=ABC
PGADMIN_DEFAULT_PASSWORD=ABC
KONG_DATABASE=ABC
KONG_PG_HOST=ABC
KONG_PASSWORD=ABC
KONG_ADMIN_LISTEN=ABC
KONG_ADMIN_GUI_URL=ABC
NODE_ENV=ABC
TOKEN_SECRET=ABC
KEYCLOAK_ADMIN=ABC
KEYCLOAK_ADMIN_PASSWORD=ABC
ELASTICSEARCH_URL=ABC